[project]
	description = Testing Repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/KARTIK MALIK (kartikma)
[access "refs/for/refs/*"]
	read = group user/KARTIK MALIK (kartikma)
	push = group user/KARTIK MALIK (kartikma)
	label-Code-Review = -2..+2 group user/KARTIK MALIK (kartikma)
	label-Verified = -1..+1 group user/KARTIK MALIK (kartikma)
	rebase = group user/KARTIK MALIK (kartikma)
	removeReviewer = group user/KARTIK MALIK (kartikma)
	submit = group user/KARTIK MALIK (kartikma)
[access "refs/heads/*"]
	read = group user/KARTIK MALIK (kartikma)
	create = group user/KARTIK MALIK (kartikma)
	push = +force group user/KARTIK MALIK (kartikma)
	pushMerge = group user/KARTIK MALIK (kartikma)
[access "refs/tags/*"]
	push = +force group user/KARTIK MALIK (kartikma)
	pushTag = group user/KARTIK MALIK (kartikma)
	pushSignedTag = group user/KARTIK MALIK (kartikma)
